.course__builder-slide {
  padding: 5rem;
  height: 100vh;
  @include center_elem;
  flex-direction: column;

  justify-content: space-between;

  &.preview {
    height: auto;
    display: block;
    padding: 3rem 5rem;

    .nav{
      @include center_elem;
      padding: .8rem 1rem;
      margin-bottom: 2rem;
      background: black;
      color: white;
      width: 13rem;
      justify-content: space-between;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .upper {
    width: 100%;
  }
  .option {
    position: absolute;
    top: 6rem;
    background-color: white;
    z-index: 3;

    @include box-shadow;
    width: 100%;
    left: 0;

    &__item {
      @include center_elem;

      padding: 1rem;
      justify-content: flex-start;
      cursor: pointer;

      h2 {
        &:first-child {
          @include regular_font;
        }
      }
      &:hover {
        background: rgb(199, 199, 199);
      }
    }
  }

  &__title {
    width: 100%;
    position: relative;
    @include center_elem;
    justify-content: space-between;
    @include box-shadow;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 4rem;

    .left {
      @include center_elem;

      h2 {
        &:first-child {
          @include regular_font;
        }
      }
    }
  }
  &__template {
    width: 100%;
    position: relative;
    @include center_elem;
    justify-content: space-between;
    .right{
      @include center_elem;
      flex-direction: column;
      align-items: flex-end;
      position:relative;
    }
    .left{
      position: relative;
    }

    .button {
      cursor: pointer;
      margin-top: 0.5rem;
      border-radius: 5px;
      @include center_elem;
      width: 25rem;
      padding: 1rem;
      @include card_shadow;

      h3 {
        margin-right: 1rem;
      }
    }
    .option {
      width: 25rem;
      min-height: 3rem;
      max-height: 17rem;
      overflow-y: scroll;
      @include custom__track;
    }

  }
  &__form {
    margin-top: 3rem;
  }

  &__navigation {
    margin: 4rem 4rem 0;
    padding-bottom: 2rem;
    width: 100%;
    @include center_elem;
    justify-content: space-between;
    .main__btn {
      @include center_elem;
      justify-content: space-between;

      

      .prev,
      .next,.all {
        cursor: pointer;
        width: 7rem;
        background: $main_color;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
      }
      .prev {
        cursor: pointer;
        margin-right: 4rem;
        p {
          margin-left: 0.5rem;
        }
      }
      .next {
        cursor: pointer;
        p {
          margin-right: 0.5rem;
        }
      }
    }
    .lesson__btn {
      @include center_elem;
      justify-content: space-between;
      .previous,
      .add {
        width: 10rem;
        background: $main_color;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        p {
          margin-right: 0.5rem;
        }
      }
      .add {
        margin: 0 3rem;
      }
      .done {
        cursor: pointer;
        width: 7rem;
        background: #4cb777;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
      }
    }
  }


  .slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    &__item {
      @include center_elem;
      justify-content: flex-start;
      align-items: flex-start;

      .update{
        position: absolute;
        z-index: 2;
        cursor: pointer;
      }
      .preview {
        width: 35rem;
        padding: 1rem;
      }
      .edit {
        margin-left: .5in;
        
        &__order {
          position: relative;

          .title {
            border-radius: .5rem;
            margin-top: 1rem;
            @include heading_font;
            padding: 1rem 2rem;
            @include card_shadow;
            @include center_elem;
            cursor: pointer;
            justify-content: space-between;

            p {
              margin-right: 1rem;
            }
          }

        }
        &__delete{
          margin-top: 2rem;

          width: 3.5rem;
          height: 3.5rem;
          cursor: pointer;
          padding: .5rem;
          background-color: $wrong;
          color: white;
          border-radius: .5rem;
          @include center_elem;
        }
      }
    }
  }

  
}
