

.mauka__builder-create {
  padding: 5rem;
  @include center_elem;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  height: 100vh;

  

  &__form {
    input,
    textarea {
      padding: 1rem;
      @include card_shadow;
      width: 100%;
      font-size: 1.1rem;
    }
    textarea {
      resize: none;
    }
    span {
      color: $main-color;
      @include heading_font;
    }
    .course__basic {
      &-img {
        input {
          display: none;
        }
        .input {
          @include center_elem;
          justify-content: flex-start;
          margin-top: 1rem;

          label {
            cursor: pointer;
            @include center_elem;
            background: #8560a8;
            color: white;
            padding: 0.7rem 1rem;
            border-radius: 5px;
          }
          span {
            margin-left: 1rem;
            @include box_shadow;
            padding: 0.5rem 1rem;
          }
        }

        &__preview {
          margin-top: 2rem;
          img {
            height: 15rem;
            object-fit: contain;
          }
        }
      }
      &-desc {
        margin: 2rem 0;
      }
    }
    .course {
      &__structure {
        display: flex;
        // justify-content: ;
        align-items: flex-start;
        flex-direction: column;

        &-title {
          @include center_elem;
          justify-content: space-between;
          width: 100%;
          .save {
            padding: 0.5rem 1rem;

            @include center_elem;
            cursor: pointer;
            background: $correct_color;
            color: white;
            border-radius: 4px;
          }
          padding-bottom: 1rem;
          border-bottom: 2px solid black;

        }
        
        &-switch {
          @include center_elem;
          // justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;
          position: relative;

        .btn {
          @include center_elem;
          justify-content: space-between;
          cursor: pointer;
          padding: 0.5rem 1rem;
          background: white;
          border: 1.5px solid $primary_btn_color;
          width: 10rem;
          border-radius: 4px;

          &__option {
            position: absolute;
            z-index: 2;
            //   margin-top: 0.5rem;
            top: 4rem;
            width: 10rem;
            background: white;
            @include box-shadow;

            &-item {
              padding: 0.7rem 0.5rem;
              cursor: pointer;

              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin: 0;
              }
              &:hover {
                background: rgb(199, 199, 199);
              }
            }
          }
        }
          
        }

        &-content {
          display: flex;
          margin-top: 2rem;
          width: 100%;
          &__item {
            margin-bottom: 1rem;
            @include center_elem;
            justify-content: flex-start;

            .no {
              @include card_shadow;
              padding: 1rem;
              border-radius: 5px;
              text-align: center;
              width: 3.5rem;
              height: 3.5rem;
              margin-right: 3rem;
              
              margin-top: 0.5rem;
              @include center_elem;
            }
            .first {
              .option {
                position: absolute;
                // padding: 1rem;
                z-index: 2;
                margin-top: 0.5rem;
                
                background: white;
                @include box-shadow;
                
                .opt {
                  width: 3.5rem;
                  height: 3.5rem;
                  padding: 0.7rem 0.5rem;
                  @include center_elem;
                  cursor: pointer;

                  &:first-child {
                    margin-top: 0;
                  }
                  &:last-child {
                    margin: 0;
                  }
                  &:hover {
                    background: rgb(199, 199, 199);
                  }
                }
              }
            }
            .input {
              margin-right: 4rem;
              width: 25rem;
              input {
                margin-top: 0.5rem;
              }
            }
            .type {
              cursor: pointer;
              margin-right: 4rem;
              position: relative;

              &__title {
                margin-top: 0.5rem;
                width: 15rem;
                @include card_shadow;

                @include center_elem;
                justify-content: space-between;
                padding: 1rem;
              }
              &__option {
                position: absolute;
                // padding: 1rem;
                z-index: 2;
                margin-top: 0.5rem;
                width: 100%;
                background: white;
                @include box-shadow;

                .opt {
                  padding: 0.7rem 0.5rem;

                  &:first-child {
                    margin-top: 0;
                  }
                  &:last-child {
                    margin: 0;
                  }
                  &:hover {
                    background: rgb(199, 199, 199);
                  }
                }
              }
            }
            .delete {
              padding: 0.5rem;
              margin-top: 0.5rem;
              @include center_elem;
              border-radius: 0.5rem;
              background: #da4e4e;
              color: white;
            }
          }

          .add {
            @include center_elem;

            margin-top: 3rem;

            &__btn {
              @include center_elem;
              width: 25rem;
              cursor: pointer;
              border-radius: 0.5rem;
              padding: 1rem;
              @include card_shadow;
            }

            // width:
            // display: none
          }

          &__assignment {
            width: 100%;
            @include center_elem;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;

            .left,
            .right {
              width: 100%;
            }

            .left {
              &__content {
                margin-top: 2rem;
              }
              .item {
                cursor: pointer;
                margin-bottom: 1rem;
                border-radius: 7px;
                @include center_elem;
                justify-content: space-between;
                @include box_shadow;
                padding: 1rem;

                &__left {
                  @include center_elem;
                  justify-content: flex-start;
                  align-items: flex-start;
                  width: 100%;
                  .title {
                    margin-left: 1.5rem;
                  }
                }
                .delete {
                  @include center_elem;
                  padding: 0.5rem;
                  @include card_shadow;
                  cursor: pointer;
                  border-radius: 50%;
                }
              }
            }

            .right {
              @include center_elem;
              flex-direction: column;
              align-items: flex-start;
              &__title {
                text-align: center;
                @include center_elem;
                justify-content: space-between;
                width: 100%;
                width: 35rem;
                margin-bottom: 1rem;

                .clear {
                  cursor: pointer;
                  background: $correct_color;
                  color: white;
                  padding: 0.5rem 1rem;
                  border-radius: 5px;

                  &.danger{
                    background:$wrong;
                  }
                }
              }
              &__form {
                width: 35rem;

                input{
                  border-radius: 5px;
                }
                &-item {
                  margin-bottom: 2rem;
                }
                &-save {
                  padding: 0.5rem 1rem;
                  @include center_elem;
                  cursor: pointer;
                  width: 100%;
                  background: $correct_color;
                  color: white;
                  border-radius: 4px;
                }

                .type {
                  cursor: pointer;
                  position: relative;

                  &__title {
                    margin-top: 0.5rem;
                    width: 100%;
                    @include card_shadow;

                    @include center_elem;
                    justify-content: space-between;
                    padding: 1rem;
                  }
                  &__option {
                    position: absolute;
                    // padding: 1rem;
                    z-index: 2;
                    margin-top: 0.5rem;
                    width: 100%;
                    background: white;
                    @include box-shadow;

                    .opt {
                      padding: 0.7rem 0.5rem;

                      &:first-child {
                        margin-top: 0;
                      }
                      &:last-child {
                        margin: 0;
                      }
                      &:hover {
                        background: rgb(199, 199, 199);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      // course Structure
      &__struct {
        &-content {
          margin-top: 2rem;

          .card {
            cursor: pointer;
            padding: 1.5rem 2.5rem;
            @include card_shadow;
            @include center_elem;
            justify-content: space-between;
            border-radius: 0.5rem;

            
            &__left {
              @include center_elem;
            }

            &__info {
              @include center_elem;
              p {
                margin-right: 1rem;
                font-size: 1.2rem;
              }
            }
            &__dec {
              width: 1.5rem;
              height: 1.5rem;
              border: 2px solid $main-color;
              border-radius: 50%;
              margin-right: 2rem;
              background: white;
              @include center_elem;

              .hidden {
                width: 0;
                height: 0;
                background: $main-color;
                border-radius: 50%;
              }
            }

            &:hover .hidden {
              width: 0.8rem !important;
              height: 0.8rem !important;
              transition: all 0.5s ease-out !important;
            }

            &.light {
              // margin-bottom: 5rem;
              background: #c0e1ff;
              &:last-child{
                margin-bottom: 0;
                
              }
            }
            &.violet {
              background: #8560a8;
              padding-left: 1.5rem;
              margin-left: 1rem;
              color: white;
            }
            &.main {
              padding-left: 1.5rem;
              margin-left: 1rem;
              background: $main-color;
              color: white;
            }
          }
          .line {
            margin: 0 3.2rem;
            width: 2rem;
            height: 4rem;
            // border-width: 1;
            border-left: 5px dotted black;
          }
        }
      }
    }
  }

  &__btn {
    @include center_elem;
    justify-content: space-between;
    padding: 2rem 0;

    .main__btn {
      @include center_elem;
      justify-content: space-between;

      .prev,
      .next {
        width: 7rem;
        background: $main_color;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
      }
      .prev {
        cursor: pointer;
        margin-right: 4rem;
        p {
          margin-left: 0.5rem;
        }
      }
      .next {
        cursor: pointer;
        p {
          margin-right: 0.5rem;
        }
      }
    }
    .lesson__btn {
      @include center_elem;
      justify-content: space-between;
      .previous,
      .add {
        width: 10rem;
        background: $main_color;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        p {
          margin-right: 0.5rem;
        }
      }
      .add {
        margin: 0 3rem;
      }
      .done {
        cursor: pointer;
        width: 7rem;
        background: #4cb777;
        color: white;
        @include center_elem;
        padding: 0.7rem 1rem;
        border-radius: 5px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 5rem 2rem;
  }
}
