
.header{
  @include center_elem;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  @include card_shadow;

  &__left{
    @include center_elem;

    h1{
      margin-left: 1rem;
    }
  }
  &__right{
    padding: .5rem 1rem;
    background: $dark_blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
.mauka__builder-home {
  padding: 2rem 4rem;

  &.pad{
    padding-top: 6rem;

  }
  &__title {
    @include center_elem;
    justify-content: space-between;
    font-size: 1.5rem;
    @include heading_font;
  }

  &__bar{
    @include center_elem;
    justify-content: flex-end;
    width: 100%;

    .help{
      padding: .4rem 1rem;
      background: black;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  &__content {
    // margin-top: 2rem;
    padding: 2rem;
    // display: grid;
    // grid-template-columns: repeat(4,1fr);

    .add__card {
      @include card_shadow;
      width: 23rem;
      cursor: pointer;
      height: 27rem;
      max-width: 30rem;
      border-radius: 10px;
      @include center_elem;
      flex-direction: column;
      align-items: center;

      &-circle{
        
        @include center_elem;
        background: #0A1E32;
        padding: 1rem;
        border-radius: 50%;
      }
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 4rem;
  }

  @media screen and (max-width:1000px) {
    padding: 2rem 2rem;
  }
  @media screen and (max-width:500px) {
    padding: 2rem 1rem;
  }
}
