@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

$main_color: #0a1e32;
$dark_blue: #2b3990;
$primary_btn_color: #0a1e32;
$secondar_btn_color: #2b3990;
$ligt_blue: #C0E1FF;
$correct_color:#4CB777;

$safe_color: #8560A8;

@mixin center_elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin regular_font {
  font-weight: 400;
}

@mixin heading_font {
  font-weight: 700;
}

@mixin box_shadow {
  box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@mixin card_shadow {
  box-shadow: 0 0.125rem 0.5rem -0.25rem rgb(31 27 45 / 12%),
    0 0.25rem 1rem rgb(31 27 45 / 12%) !important;
}


.astrodivider {
  margin: 64px auto;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px $main-color;
}
.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px $main-color;
  background: #fff;
}
.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed $main-color;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: $main-color;
}

@mixin custom__track {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}