.course__builder-preview {
  margin-top: 2rem;

  .preview {
    margin-top: 2rem;
    background: white;
    @include card_shadow;

    width: 60rem;
    height: 35rem;
    padding: 2rem;

    @include center_elem;
    flex-direction: column;
    justify-content: space-between;
    // pointer-events: none;

    &.all {
      height: 23rem;
      margin-top: 0;

      .preview__btn {
        margin-top: 1rem;
        .next,
        .prev {
          font-size: 0.7rem;
          width: 5rem !important;
          padding: 0.5rem 0.5rem !important;
        }
      }

      .temp1 {
        font-size: 0.8rem !important;
        .paragraph {
          height: 10rem !important;
        }
        .image{
          img{
            height: 14rem !important;
          }

        }
      }
      .temp2 {
        font-size: 0.8rem;
        .pre__option{
          &-item{
            padding: .4rem 1rem;
          }
        }
      }
      .temp5{
        font-size: .8rem;
        padding: 1rem;

        .scale{
          margin-top: 2rem;
          &__item{
            .inner{
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
      .temp8{
        .temp2{
          width: 17rem;
          max-width: none;
          min-width: 0;

          textarea{
            width: 100% !important;
          }
        }
        .image{
          img{
            height: auto;
          }
        }
      }
      
    }

    &__item {
      position: relative;
      width: 100%;
      
      

      &.center {
        height: 100%;
        @include center_elem;
      }
      &.all{
        display: block;
        height: 18rem;
        overflow-y: auto;
        @include custom__track;
      }

      .temp1 {
        h3 {
          margin: 0.5rem 0 2.5rem;
          @include regular_font;
          color: $dark_blue;
        }

        .paragraph {
          height: 20rem;
          overflow-y: auto;
          @include custom__track;
        }

        .image {
          img {
            width: 100%;
            height: 22rem;
            border-radius: 1rem;
            margin-top: 1rem;
            object-fit: cover;
          }
        }

        &__preview {
          margin-top: 1rem;
          border-radius: 1rem;
          width: 100%;
          background: $safe_color;
          height: 20rem;
        }
      }
      .temp2 {
        @include center_elem;
        flex-direction: column;
        // width: 24rem;
        align-items: flex-start;
        min-width: 24rem;
        max-width: calc(500px + 1.5rem);

        .question {
          span {
            font-size: 0.9rem;
            color: gray;
          }
        }
        .input {
          &_large {
            margin-top: 2rem;
            textarea {
              padding: 0.5rem;
              border: 2px solid $dark_blue;
              border-radius: 4px;
              width: 24rem !important;
              resize: none;
            }
          }
        }
        .pre__option {
          margin-top: 2rem;
          width: 100%;
          height: 15rem;
          overflow-y: auto;
          @include custom__track;

          &-item {
            width: 100%;
            cursor: pointer;
            border-radius: 50px;
            padding: 0.6rem 1.5rem;
            background: rgba($ligth_violet, 0.5);
            // background: rgba($ligth_violet,);
            margin-bottom: 1rem;
            @include center_elem;
            justify-content: space-between;

            &.correct {
              background-color: $correct_color;
              color: white;
            }
            &.incorrect {
              background-color: $wrong;
              color: white;
            }
          }
        }
      }

      .temp5 {
        padding: 2rem 3rem;
        .title {
          &__text {
            @include heading_font;
            margin-bottom: 0.3rem;
          }
          span {
            font-size: 0.9rem;
            color: gray;
          }
        }

        .slider {
          img {
            width: 100%;
            height: 20rem;
            object-fit: contain;
          }
          // .swiper-button-next,.swiper-button-prev{
          //   color: $dark_blue !important;
          // }

          &__preview {
            height: 20rem;
            width: 100%;
            background: $safe_color;
            border-radius: 1rem;
          }
        }

        .scale {
          margin-top: 3rem;
          @include center_elem;
          justify-content: space-between;

          &__item {
            position: relative;
            height: 5.5rem;
            @include center_elem;
            flex-direction: column;
            align-items: flex-start;

            &:last-child {
              align-items: flex-end;
            }
            .inner {
              width: 3rem;
              height: 3rem;
              @include center_elem;
              border-radius: 0.5rem;
              background: $dark_blue;
              color: white;

              margin-bottom: 1rem;
            }
            p {
              @include heading_font;

              &.lower {
                width: 15rem;

                position: absolute;
                bottom: 0;
              }
              &.lower__end {
                width: 15rem;

                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
      }

      .temp8 {
        @include center_elem;
        justify-content: space-between;
        width: 100%;

        img {
          width: 100%;
          height: 20rem;
          object-fit: contain;
          border-radius: 1rem;
        }

        .left {
          width: 100%;
        }

        .right {
          margin-left: 1rem;
          width: 100%;
          &__preview {
            width: 25rem;
            border-radius: 1rem;
            height: 15rem;
            background: $safe_color;
          }
        }
      }
    }

    &__btn {
      width: 100%;
      @include center_elem;
      justify-content: space-between;

      .prev,
      .next {
        width: 7rem;
        font-size: 0.9rem;
        background: $main_color;
        color: white;
        @include center_elem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
      .prev {
        margin-right: 4rem;
        p {
          margin-left: 0.5rem;
        }
      }
      .next {
        p {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
